PORT=3000
MONGODB_URI=mongodb://meylanisaputri94_db_user:meylani0000@ac-07dy2ho-shard-00-00.o0pdyd8.mongodb.net:27017,ac-07dy2ho-shard-00-01.o0pdyd8.mongodb.net:27017,ac-07dy2ho-shard-00-02.o0pdyd8.mongodb.net:27017/?ssl=true&replicaSet=atlas-pvn8nq-shard-0&authSource=admin&appName=gamelab-mongodb
NODE_ENV=development

JWT_SECRET=isi-dengan-secret-kamu-sendiri
JWT_EXPIRES_IN=1d

EXTERNAL_API_KEY=isi-dengan-api-key-kamu-sendiri